In [1]:
import pandas as pd
df1 = pd.read_csv("wordcount.csv")

In [33]:
df1

       word  count
0      abca     24
1      bcde     22
2     bacha     22
3   shreyas     34
4  abhishek     23

In [19]:
df1
df1.iterrows()

In [26]:
f= open("examples.words.js","w+")
f.write("var words =[")
for index,row in df1.iterrows():
    if (index!=(len(df1)-1)):
        f.write("{text: '%s', size: %s}," %(row['word'],row['count']))
    else :
        f.write("{text: '%s', size: %s} ];" %(row['word'],row['count']))
    
f.close()

In [22]:
for index,row in df1.iterrows():
    print(row['count'])

24
22
22
34
23

In [30]:
df2 = pd.read_csv("nytdaycloud.csv")

In [32]:
df2

     word\tcount
0      said\t203
1      shot\t119
2       par\t105
3      first\t99
4        one\t87
5        two\t85
6      three\t81
7       back\t78
8        new\t78
9     second\t74
10  shooting\t67
11    police\t63
12      year\t62
13       day\t60
14      like\t59
15        mr\t59
16    please\t56
17      lead\t55
18       gun\t55
19     woods\t54
20      game\t54
21     times\t53
22      hole\t52
23      york\t52
24     would\t51
25      reed\t49
26     round\t49
27   masters\t48
28      left\t48
29    birdie\t47
30      made\t47
31     still\t46
32      also\t46
33     years\t46
34       get\t46
35      time\t46
36    friday\t45
37     green\t44
38     right\t44
39  officers\t44
40     bogey\t43
41      last\t42
42     could\t42
43    spieth\t41
44      four\t41
45  thursday\t40
46   mcilroy\t39
47    people\t39
48     going\t37
49    points\t37

In [35]:
import pandas as pd
data = pd.read_csv("nytdaycloud.csv", sep="\t", header=None)

In [36]:
data

           0      1
0       word  count
1       said    203
2       shot    119
3        par    105
4      first     99
5        one     87
6        two     85
7      three     81
8       back     78
9        new     78
10    second     74
11  shooting     67
12    police     63
13      year     62
14       day     60
15      like     59
16        mr     59
17    please     56
18      lead     55
19       gun     55
20     woods     54
21      game     54
22     times     53
23      hole     52
24      york     52
25     would     51
26      reed     49
27     round     49
28   masters     48
29      left     48
30    birdie     47
31      made     47
32     still     46
33      also     46
34     years     46
35       get     46
36      time     46
37    friday     45
38     green     44
39     right     44
40  officers     44
41     bogey     43
42      last     42
43     could     42
44    spieth     41
45      four     41
46  thursday     40
47   mcilroy     39
48    people     39
49     going     37
50    points     37

In [37]:
data.columns = ['word', 'count']

In [38]:
data

        word  count
0       word  count
1       said    203
2       shot    119
3        par    105
4      first     99
5        one     87
6        two     85
7      three     81
8       back     78
9        new     78
10    second     74
11  shooting     67
12    police     63
13      year     62
14       day     60
15      like     59
16        mr     59
17    please     56
18      lead     55
19       gun     55
20     woods     54
21      game     54
22     times     53
23      hole     52
24      york     52
25     would     51
26      reed     49
27     round     49
28   masters     48
29      left     48
30    birdie     47
31      made     47
32     still     46
33      also     46
34     years     46
35       get     46
36      time     46
37    friday     45
38     green     44
39     right     44
40  officers     44
41     bogey     43
42      last     42
43     could     42
44    spieth     41
45      four     41
46  thursday     40
47   mcilroy     39
48    people     39
49     going     37
50    points     37

In [39]:
f= open("nytday1.words.js","w+")
f.write("var words =[")
for index,row in data.iterrows():
    if (index!=(len(data)-1)):
        f.write("{text: '%s', size: %s}," %(row['word'],row['count']))
    else :
        f.write("{text: '%s', size: %s} ];" %(row['word'],row['count']))
    
f.close()

In [46]:
data1 = pd.read_csv("nytweekcloud.csv", sep="\t", header=None)
data1.columns = ['word', 'count']
data1.drop(data1.index[0], inplace=True)
data1

          word count
1         said  2495
2          new   912
3          one   911
4           mr   767
5       people   741
6     shooting   738
7       police   732
8          gun   704
9        would   688
10         two   661
11       first   658
12      please   654
13        year   639
14       times   629
15      school   626
16        york   559
17        like   548
18        also   536
19       state   514
20        time   512
21      points   510
22        game   471
23        last   459
24    officers   406
25       trump   393
26        must   392
27       three   391
28       could   390
29        back   380
30        four   378
31        shot   377
32       email   376
33  newsletter   375
34         get   375
35        high   370
36        view   368
37      second   363
38         man   360
39   subscribe   358
40        made   355
41       march   354
42        team   352
43     address   347
44     percent   345
45       youre   340
46       years   338
47       going   338
48         old   336
49       black   336
50       enter   333

In [47]:
f= open("nytweek.words.js","w+")
f.write("var words =[")
for index,row in data1.iterrows():
    if (index!=(len(data1)-1)):
        f.write("{text: '%s', size: %s}," %(row['word'],row['count']))
    else :
        f.write("{text: '%s', size: %s} ];" %(row['word'],row['count']))
    
f.close()

In [52]:
data2 = pd.read_csv("tweetdaycloud.csv", sep="\t", header=None)
data2.columns = ['word', 'count']
data2.drop(data2.index[0], inplace=True)
data2

             word count
1        shooting  2288
2              co  1598
3           https  1509
4               b   923
5           potus   410
6   backfiretrump   403
7        oklahoma   351
8            stop   271
9           today   263
10      bshooting   249
11          fatal   231
12      something   229
13           life   224
14         please   219
15       american   214
16      suffering   210
17      bloodshed   208
18           took   208
19         people   191
20           like   163
21         school   156
22            gun   149
23           shot   143
24            amp   137
25         police   137
26            one   133
27        youtube   127
28           mass   124
29            get   106
30            man   100
31           time    98
32             bi    95
33          would    83
34          video    83
35           guns    79
36       parkland    78
37           year    77
38             go    76
39             us    75
40         nhttps    75
41            nra    73
42           know    73
43          shoot    70
44          think    70
45            see    68
46            via    68
47          first    67
48           star    64
49           said    64
50            say    64

In [53]:
f= open("tweetday.words.js","w+")
f.write("var words =[")
for index,row in data2.iterrows():
    if (index!=(len(data2))):
        f.write("{text: '%s', size: %s}," %(row['word'],row['count']))
    else :
        f.write("{text: '%s', size: %s} ];" %(row['word'],row['count']))
    
f.close()

In [55]:
data3 = pd.read_csv("tweetweekcloud.csv", sep="\t", header=None)
data3.columns = ['word', 'count']
data3.drop(data3.index[0], inplace=True)
data3

              word  count
1         shooting  24244
2               co  17443
3            https  16389
4                b   9500
5            potus   4954
6    backfiretrump   4883
7             stop   3069
8            today   2881
9        bshooting   2870
10       something   2656
11          please   2610
12           fatal   2593
13            life   2557
14            took   2545
15       suffering   2524
16       bloodshed   2512
17        american   2439
18          school   2292
19             gun   1800
20            like   1772
21          people   1683
22         florida   1635
23         youtube   1438
24             amp   1273
25            shot   1227
26          police   1225
27             one   1173
28            hero   1159
29            mass   1111
30        missouri   1092
31         sheriff   1086
32             get    954
33          nhttps    946
34        parkland    927
35  superintendent    915
36            time    912
37           would    900
38          blames    897
39             man    869
40           video    839
41            guns    827
42              bi    754
43            know    703
44              us    699
45             via    676
46             see    649
47           think    607
48            game    601
49            back    596
50            good    596

In [56]:
f= open("tweetweek.words.js","w+")
f.write("var words =[")
for index,row in data3.iterrows():
    if (index!=(len(data3))):
        f.write("{text: '%s', size: %s}," %(row['word'],row['count']))
    else :
        f.write("{text: '%s', size: %s} ];" %(row['word'],row['count']))
    
f.close()

In [62]:
data4 = pd.read_csv("wordpairnytcloud.csv", sep="\t", header=None)
data4.columns = ['word', 'count']
data4.drop(data4.index[0], inplace=True)
data4

                  word count
1      ["par", "shot"]  2095
2    ["par", "second"]  1442
3   ["second", "shot"]  1209
4      ["back", "par"]  1171
5     ["par", "three"]  1111
6       ["par", "two"]  1082
7     ["first", "par"]  1078
8     ["back", "shot"]   985
9    ["shot", "three"]   968
10     ["shot", "two"]   913

In [63]:
f= open("nytcooc.words.js","w+")
f.write("var words =[")
for index,row in data4.iterrows():
    if (index!=(len(data4))):
        f.write("{text: '%s', size: %s}," %(row['word'],row['count']))
    else :
        f.write("{text: '%s', size: %s} ];" %(row['word'],row['count']))
    
f.close()

In [64]:
data5 = pd.read_csv("wordpaircloudtweets.csv", sep="\t", header=None)
data5.columns = ['word', 'count']
data5.drop(data5.index[0], inplace=True)
data5

                          word count
1              ["co", "https"]  1803
2           ["co", "shooting"]  1234
3        ["https", "shooting"]  1176
4            ["b", "shooting"]   910
5           ["potus", "https"]   405
6              ["potus", "co"]   405
7   ["potus", "backfiretrump"]   403
8      ["backfiretrump", "co"]   403
9   ["backfiretrump", "https"]   403
10                 ["b", "co"]   368

In [65]:
f= open("tweetcooc.words.js","w+")
f.write("var words =[")
for index,row in data5.iterrows():
    if (index!=(len(data5))):
        f.write("{text: '%s', size: %s}," %(row['word'],row['count']))
    else :
        f.write("{text: '%s', size: %s} ];" %(row['word'],row['count']))
    
f.close()